# Purpose: extract csv that gives mapping from frequencies to notes
### notes_raw.csv is from https://pages.mtu.edu/~suits/notefreqs.html

In [19]:
import pandas as pd

df = pd.read_csv('data/notes_raw.csv')
df.rename({'Note' : 'note', 'Frequency (Hz)' : 'f'}, axis=1, inplace=True)
df.drop('Wavelength (cm)', axis=1, inplace=True)
df.set_index('f', inplace=True)
df.head()

            note
f
16.35         C0
17.32   C#0/Db0
18.35         D0
19.45   D#0/Eb0
20.60         E0

In [20]:
df.loc[17.32, 'note']

'\xa0C#0/Db0\xa0'

In [21]:
# need to strip white space stuff from our rows...
df['note'] = df['note'].map(lambda line : line.strip())

          note
f
16.35       C0
17.32  C#0/Db0
18.35       D0
19.45  D#0/Eb0
20.60       E0

In [24]:
# check if succesful
df.loc[17.32, 'note']

'C#0/Db0'

In [25]:
# save new version of notes for easy loading into another program later
df.to_csv('data/f_to_note.csv')